APScheduler==3.6.3
bcrypt==4.0.1
certifi==2021.5.30
click==8.0.4
colorama==0.4.5
dataclasses @ file:///tmp/build/80754af9/dataclasses_1614363715916/work
dnspython==2.2.1
Flask==2.0.3
Flask-PyMongo==2.3.0
importlib-metadata==4.8.3
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2==3.0.3
MarkupSafe @ file:///C:/ci/markupsafe_1621528313524/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pymongo==4.1.1
pytz==2021.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
typing_extensions==4.1.1
tzlocal @ file:///C:/ci/tzlocal_1613145480220/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
wincertstore==0.2
zipp==3.6.0
